TELEGRAM_BOT_TOKEN=
CANBOSO_API_KEY=
CANBOSO_BASE_URL=https://canboso.com

DATABASE_PATH=bot.sqlite3

ADMIN_USERNAMES=shinbutchj
ADMIN_USER_IDS=

BINANCE_PAY_ID=replace_with_your_binance_pay_id
BINANCE_PAY_HISTORY_API_KEY=
BINANCE_PAY_HISTORY_API_SECRET=
BINANCE_PAY_HISTORY_BASE_URL=https://api.binance.com

USDT_BEP20_RECEIVER_ADDRESS=0x8a67ffaCe14E1c8646c6061ee0dF9F38Cc13a8F8
BSC_RPC_URL=https://bsc-rpc.publicnode.com
BSC_RPC_FALLBACK_URLS=https://bsc.drpc.org,https://1rpc.io/bnb
BSC_USDT_CONTRACT=0x55d398326f99059fF775485246999027B3197955
BSC_CONFIRMATIONS=8
BSC_LOG_CHUNK_SIZE=200

USDT_TRC20_RECEIVER_ADDRESS=
TRON_GRID_BASE_URL=https://api.trongrid.io
TRON_GRID_API_KEY=
TRON_USDT_CONTRACT=TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
TRON_PAGE_LIMIT=200
TRON_SCAN_SAFETY_WINDOW_SECONDS=180

SELLING_MARKUP_PERCENT=25
PAYMENT_EXPIRY_MINUTES=45
PAYMENT_POLL_INTERVAL_SECONDS=45
PAYMENT_AMOUNT_TOLERANCE_USDT=0.000001
PAYMENT_UNIQUE_FRACTION_MAX_USDT=0.009999
